<div id="colorlib-contact">
	<div class="container">
		<div class="row">
			
				<% if user_signed_in? %>
					<li>
						<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
					</li>
					<li>
						<%= current_user.email %>
					</li>

					<% else %>
						<li>
							<%= link_to "sign in", new_user_session_path %>
						</li>
						<li>
							<%= link_to "sign Up", new_user_registration_path %>
						</li>

						<% end %>
			
		</div>
	</div>
</div>




